@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Playwrite+NL:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

:root {
--azul-marinho: #03045eff;
--azul-ceu: #0077b6ff;
--azul-mar: #00b4d8ff;
--azul-bebe: #90e0efff;
--cian-claro: #caf0f8ff;
--fonte-titulo: "Playwrite NL", cursive;
--fonte-texto: "Playwrite FR Moderne", cursive;
}